// GENERAL CLASSES

.section{
	.frame{
		position: absolute;
		border: 1px solid #e5218a;
		top: 45px;
		bottom:	45px;
		left: 45px;
		right: 45px;
	}
}
.txt-gray{
	color: #878787;
}
.span-icon{
	vertical-align: super;
	padding-left: 5px;
}

// NAVBAR

header{
	position: fixed;
	width: 100%;
	z-index: 2;
	.upper-nav{	
		margin-bottom: 0;
		margin-top: 0;
	}
}
.navbar-nav{
	position: absolute;
	top: 0;
	right: 40px;
	z-index: 30;
	& li{
		& a{
			padding-top: 10px !important;
			padding-bottom: 10px !important;
			line-height: 25px !important;
			color: white;
			font-size: 12px;
		}
		& a:focus, a:hover{
			background-color: transparent !important;
			color: #e5218a;		
			& path{
				fill: #e5218a;
			}	
		}
		.dropdown-menu{
			background-color: rgba(0,0,0,.5);
		}		
	}	
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background-color: transparent !important;
	border-color: transparent !important;
	color: #e5218a !important;
}

// FIRSTPAGE

#firstPage{
	background-image: url(../assets/images/bg.jpg);
}

