// GENERAL CLASSES

.section{
	.frame{
		position: absolute;
		border: 1px solid #e5218a;
		top: 45px;
		bottom:	45px;
		left: 45px;
		right: 45px;
	}
}
.txt-center{
	text-align: center;
}
.txt-gray{
	color: #878787;
}
.txt-white{
	color: #fff;
}
.txt-yellow{
	color: #FBFF01;
}
.txt-right{
	text-align: right;
}
.txt-pink{
	color: #e5218a;
}
.span-icon{
	vertical-align: super;
	padding-left: 5px;
}
.fs-10{
	font-size: 10px;
}
.fs-12{
	font-size: 12px;
}
.fs-25{
	font-size: 25px;
}
.pt-10{
	padding-top: 10px;
}
.pt-25{
	padding-top: 25px;
}
p{
	margin: 0;
}

// NAVBAR

header{
	position: fixed;
	z-index: 2;
	left: 45px;
	right: 45px;
	.upper-nav{	
		margin-bottom: 0;
		margin-top: 0;
	}
}
.navbar-nav{
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 3;
	& li{
		& a{
			padding-top: 10px !important;
			padding-bottom: 10px !important;
			line-height: 25px !important;
			color: white;
			font-size: 12px;
		}
		& a:focus, a:hover{
			background-color: transparent !important;
			color: #e5218a;		
			& path{
				fill: #e5218a;
			}
			& rect{
				fill: #e5218a;
			}
			& polygon {
				fill: #e5218a;
			}
		}
		.dropdown-menu{
			background-color: rgba(0,0,0,.5);
		}		
	}	
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background-color: transparent !important;
	border-color: transparent !important;
	color: #e5218a !important;
}

// FIRSTPAGE

#firstPage{
	background-image: url(../assets/images/bg.jpg);
	background-size: cover;
	.content{
		text-align: center;
		& img{
			margin-top: 15%;
		}
		& h1{
			text-transform: uppercase;
			font-size: 25px;
			margin-top: -15px !important;
		}
		& form{
			input{
				background-image: url(../assets/icons/search.png);
				background-repeat: no-repeat;
				background-position: 99% 50%;			
			}
		}
	}
	.bottom-content{
		position: absolute;
		bottom: 35px;
		width: 100%;
		p{
			text-align: center;
		}
		img{
			margin-top: 15px;
			position: relative;
			z-index: 5;
		}
	}
}

// FOOTER

footer{
	.bottom-right{
		position: fixed;
		bottom: 0;
		right: 0;
		svg{
			height: 500px;
			width: 700px;
			position: absolute;
			right: -62px;
			bottom: -148px;
			z-index: 3;
			opacity: .8;
		}
		.chat{
			margin: 20px;
			position: relative;
			z-index: 4;
			width: 220px;
			text-align: right;
			bottom: 37px;
			right: 45px;
		}
	}
}