body {
  height: auto !important; }

.section {
  position: relative; }
  .section .frame {
    position: absolute;
    border: 1px solid #e5218a;
    top: 45px;
    bottom: 35px;
    left: 45px;
    right: 45px;
    z-index: 1; }
    @media (max-width: 800px) {
      .section .frame {
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px; } }

.txt-center {
  text-align: center; }

.txt-justify {
  text-align: justify; }

.txt-right {
  text-align: right; }

.txt-left {
  text-align: left; }

.txt-gray {
  color: #878787; }

.txt-white {
  color: #fff; }

.txt-pink {
  color: #e5218a; }

.fs-10 {
  font-size: 10px; }

.fs-12 {
  font-size: 12px; }

.fs-25 {
  font-size: 25px; }

.mt-20 {
  margin-top: 20px; }

.pt-10 {
  padding-top: 10px; }

.pt-25 {
  padding-top: 25px; }

.p-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

p {
  margin: 0; }

.span-icon {
  vertical-align: super;
  padding-left: 5px; }

.bg-pink {
  background-color: #e5218a;
  height: 5px; }

header {
  position: fixed;
  z-index: 2;
  left: 180px;
  right: 46px; }
  header .upper-nav {
    margin-bottom: 0;
    margin-top: 0; }
  header .fixed-nav {
    position: relative; }
    header .fixed-nav .brand-nav {
      position: absolute;
      top: -25px;
      left: -140px; }

.navbar-nav {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 3; }
  .navbar-nav li a {
    line-height: 25px !important;
    color: white;
    font-size: 12px; }
  .navbar-nav li a:focus, .navbar-nav li a:hover {
    background-color: transparent !important;
    color: #e5218a; }
    .navbar-nav li a:focus path, .navbar-nav li a:hover path {
      fill: #e5218a; }
    .navbar-nav li a:focus rect, .navbar-nav li a:hover rect {
      fill: #e5218a; }
    .navbar-nav li a:focus polygon, .navbar-nav li a:hover polygon {
      fill: #e5218a; }
  .navbar-nav li .a-underline {
    padding: 15px 0 5px !important;
    margin: 0 15px !important; }
  .navbar-nav li .a-underline:focus, .navbar-nav li .a-underline:hover {
    border-bottom: 1px solid #e5218a; }
  .navbar-nav li .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8); }

.fixed-nav {
  background-color: transparent;
  border-radius: 0 !important; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #e5218a !important; }

#firstPage {
  background-image: url(../assets/images/bg.jpg);
  background-size: cover; }
  #firstPage .content {
    position: relative;
    text-align: center;
    z-index: 10; }
    #firstPage .content img {
      margin-top: 15%; }
    #firstPage .content h1 {
      text-transform: uppercase;
      font-size: 25px;
      margin-top: -15px !important; }
    #firstPage .content form input {
      background-image: url(../assets/icons/search.png);
      background-repeat: no-repeat;
      background-position: 99% 50%; }
  #firstPage .bottom-content {
    position: absolute;
    bottom: 25px;
    width: 100%; }
    #firstPage .bottom-content p {
      text-align: center; }
      @media (max-width: 800px) {
        #firstPage .bottom-content p {
          font-size: 13px; } }
    #firstPage .bottom-content img {
      margin-top: 15px;
      position: relative;
      z-index: 5; }

#secondPage .content {
  position: relative;
  z-index: 5; }
  #secondPage .content .content-slider {
    padding: 115px 40px 60px 105px; }
    @media (max-width: 800px) {
      #secondPage .content .content-slider {
        padding: 50px; } }
    #secondPage .content .content-slider .cost {
      font-size: 50px;
      color: #e5218a;
      text-transform: uppercase; }
    #secondPage .content .content-slider .frame-feature {
      border: 1px solid #bfbfbf;
      padding: 10px 0px; }
      @media (max-width: 800px) {
        #secondPage .content .content-slider .frame-feature {
          padding: 5px; } }
      #secondPage .content .content-slider .frame-feature img {
        height: 25px;
        padding-bottom: 5px; }
    #secondPage .content .content-slider h5 {
      padding: 10px 30px; }
      @media (max-width: 800px) {
        #secondPage .content .content-slider h5 {
          padding: 5px; } }
    #secondPage .content .content-slider .button-slider {
      padding: 0 17%; }
      #secondPage .content .content-slider .button-slider .button-slider-color {
        border: 1px solid #bfbfbf;
        padding: 2px;
        margin: 2px; }
    #secondPage .content .content-slider button {
      border: 4px solid #e5218a;
      border-radius: 0;
      padding: 13px 30px;
      font-weight: bold;
      font-size: 12px;
      background: transparent; }
  #secondPage .content .image-slider {
    background-image: url(../assets/images/picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: .8; }

footer .bottom-right {
  position: fixed;
  bottom: 0;
  right: 0; }
  footer .bottom-right svg {
    height: 500px;
    width: 700px;
    position: absolute;
    right: -62px;
    bottom: -148px;
    z-index: 3;
    opacity: .8; }
  footer .bottom-right .chat {
    margin: 20px;
    position: relative;
    z-index: 4;
    width: 220px;
    text-align: right;
    bottom: 37px;
    right: 45px; }

/*# sourceMappingURL=style.css.map */
