// GENERAL CLASSES

.section{
	position: relative;
	padding: 40px;
	.frame{
		position: absolute;
		border: 1px solid #e5218a;
		top: 40px;
		bottom:	40px;
		left: 40px;
		right: 40px;
	}
}

#firstPage{
	
	
}